@page "/addaddress"


@inject NavigationManager NavigationManager
@inject IAddressService AddressService

<h3>Add Address</h3>


@if (address != null)
{
    <EditForm Model="address" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>

        <div class="form-group">
            <label for="name">Name</label>
            <InputText id="name" @bind-Value="address.Name" class="form-control"></InputText>
        </div>

       

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-primary" @onclick="OnCancel">Cancel</button>
    </EditForm>
}



@code {
    private Address address;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        address = new Address();
    }

    private void OnValidSubmit()
    {
        //AddressService.AddAddress(address);

        NavigationManager.NavigateTo("/address");
    }

    private void OnCancel()
    {
        NavigationManager.NavigateTo("/address");
    }
}
