@page "/"

<h1>Добро пожаловать!</h1>
<h4>Это Органайзер для специалиста по замерам натяжных потолков.</h4>

<p><h4><b>Возможности:</b></h4></p>
<h7>
    <ul>
        <li>Добавлять завершенные замеры за сегодня</li>
        <li>Сформировать отчет по всем замерам за указанный период времени</li>
        <li>Просмотреть все адреса по дате замера</li>
        <li>Просмотреть все адреса по дате монтажа</li>
        <li>Сформировать отчет по каждой бригаде</li>
    </ul>
</h7>