@page "/reports"

@inject IAddressService AddressService

<h3>Формирование таблицы адресов</h3>

<MenuForSearchingAddresses OnSearchingStateChange="SearchingState" />
<br />
<ViewTableWithAddresses SearchingState="searchingStates" />

@code {

    private SearchingStates searchingStates;  

    protected override void OnInitialized()
    {
        AddressService.Addresses = null;
    }

    private void SearchingState(SearchingStates states)
    {
        searchingStates = states;
    }
}
