@page "/reports-montage"


<h3>Таблица адресов по дате монтажа</h3>

<MenuForSearchingAddresses PageLink="/reports-montage" OnAddressesLoad="LoadAddresses"></MenuForSearchingAddresses>
<br />
<ViewTableWithAddresses PageLink="/reports-montage" addresses="addresses"></ViewTableWithAddresses>

@code {
    private IEnumerable<Address> addresses;

    private void LoadAddresses(IEnumerable<Address> addresses)
    {
        this.addresses = addresses;
    }
}
