@page "/reports-mesure"


<h3>Таблица адресов по дате замера</h3>

<MenuForSearchingAddresses PageLink="/reports-mesure" OnAddressesLoad="LoadAddresses"></MenuForSearchingAddresses>
<br />
<ViewTableWithAddresses PageLink="/reports-mesure" addresses="addresses"></ViewTableWithAddresses>

@code {
    private IEnumerable<Address> addresses;

    private void LoadAddresses(IEnumerable<Address> addresses)
    {
        this.addresses = addresses;
    }
}
