@page "/reports"


<h3>Таблица адресов по дате замера</h3>

<MenuForSearchingAddresses OnSearchingStateChange="SearchingState" OnAddressesLoad="LoadAddresses"></MenuForSearchingAddresses>
<br />
<ViewTableWithAddresses SearchingState="searchingStates" Addresses="addresses"></ViewTableWithAddresses>

@code {
    private IEnumerable<Address> addresses;

    private SearchingStates searchingStates;

    private void LoadAddresses(IEnumerable<Address> addresses)
    {
        this.addresses = addresses;
    }

    private void SearchingState(SearchingStates states)
    {
        searchingStates = states;
    }
}
