@page "/editaddress"

<h3>EditAddress</h3>

@inject NavigationManager NavigationManager
@inject IAddressService AddressService

<EditForm Model="NewAddress" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label for="name">Адрес</label>
        <InputText id="name" @bind-Value="NewAddress.Name" class="form-control"></InputText>
    </div>
    <div class="row">
        <div class="col">
            <label for="startdate">Дата Замера: </label>
            <input id="startdate" type="date" class="form-control" @bind-value="startDate" />
        </div>
        <div class="col">
            <label for="montageDate">Дата Монтажа: </label>
            <input id="montageDate" type="date" class="form-control" @bind-value="montageDate" />
        </div>
    </div>

    <div class="form-group">
        <label for="worker">Бригада</label>
        <select id="worker" @bind="NewAddress.WorkersName" class="form-control">
            <option selected></option>
            @foreach (var worker in workers.Workers)
            {
                <option value="@worker">@worker.ToString()</option>
            }
        </select>
    </div>


    <div class="form-group">
        <label for="sum">Сумма Заказа</label>
        <InputNumber id="sum" @bind-Value="NewAddress.Sum" class="form-control"></InputNumber>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-primary" @onclick="OnCancel">Cancel</button>

</EditForm>

@code {
    public Address NewAddress { get; set; } = new Address();

    private Worker workers = new Worker();
    private DateTime startDate;
    private DateTime montageDate;

    private void HandleSubmit()
    {
        AddressService.AddNewAddress(NewAddress);

        NavigationManager.NavigateTo("/addresses");
    }

    private void OnCancel()
    {
        NavigationManager.NavigateTo("/addresses");
    }
}
